.home {
  display: flex;
  flex-direction: column;
  text-align: center;
  height: fit-content;
  align-items: center;
}

/*////////////////Ceci correspond au CSS de la Bannière. Il n'y a pas à la retoucher pour l'instant/////////////*/
.banner {
  display: flex;
  justify-content: space-around;
  width: 100%;
  padding-top : 15px;
  padding-bottom:15px;
  padding-inline:250px; 
  height: fit-content;
  color: white;
  background-color: rgb(156, 38, 38);
}

.banner .portrait {
  padding-inline:100px;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: pink;
  background-size: cover;
  overflow: hidden;
  background: url(../../public/images/blandine.jpg);
  background-position: center;
  background-size: cover;
  
}

.banner h1 {
  font-size: 30px;
  font-weight: 500;
  padding-top: 50px;
  padding-bottom: 15px;
}

.navbar__link {
  display: flex;
  padding-top : 45px;
  width:100%;
  justify-content: space-between;
}

ul {
  width:100%;
  display: flex;
  justify-content: space-between;
}

a {
  cursor: pointer;
  text-decoration: none;
  color: white;
}

/*/////////////////Ceci correspond au CSS de la partie principale du site///////////////*/

/*////Ceci est la partie de gauche, avec l'image du violon///*/
main {
    display: flex;
    width: 100%;
    justify-content: center;
}

.image_deco {
    white-space: nowrap;
    height: 800px;
    flex-wrap: nowrap;
    width: 25%;
    background: url(../../public/images/violon.jpg);
    background-repeat: no-repeat;
    opacity: 0.5;
    background-size: cover;
    background-position: center;
}


/*//////////////////////Ceci est le corps de mon site/////////////////*/


.corps {
    width: 65%;
}


section {
  margin-top: 20px;
  margin-inline: 10px;
  padding: 15px;
  background-color: rgb(255, 255, 255);
  display: flex;
  border-radius: 25px;
}

.description {
  position: relative;
  padding: 15px;
  overflow: hidden;
}

.description h1 {
  font-size: 18px;
  margin : 12px;
}

.description p {
    font-size: 20px;
    text-align: justify;
    margin: 8px;
}

.informations {
  width: 100%;
  padding: 15px;
  overflow: hidden;
}

.informations h1 {
  margin : 12px;
}

.informations p {
    font-size: 20px;
    text-align: justify;
    margin: 8px;
}

.image {
  width: 33%;
  height: auto;
  border-radius: 25px;
}

.presentation {
  width: 66%;
}

.masque {
  display: flex;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 1));
  width: 100%;
  position: absolute;
  bottom: 0;
  height: 70px;
  align-items: flex-end;
  justify-content: center;

}

.voir {
  position: absolute;
  display: flex;
  height: 30px;
  border-radius: 15px;
  background-color: rgb(189, 180, 180);
  width: 45%;
  color: white;
  font-size: 20px;
  align-items: center;
  cursor: pointer;
  justify-content: center;
}


.mon_projet .image {
    background: url(../../public/images/piano.jpg);
}

.ma_methode .image {
    background: url(../../public/images/piano-main.jpg);
    background-position: center;
}

.mes_prestations .image {
    background: url(../../public/images/enfants.jpg);
    height: auto;
    background-position: 0;
    background-size: cover;
}

.mes_tarifs .image {
    background: url(../../public/images/billets.jpg);
    background-position: center;
    background-size: cover;

}

.infos .image {
  background: url(../../public/images/capture_map.jpg);
  background-position: center;
  object-fit: cover;
}


/*/////////Ceci est mon footer //////////*/

.footer {
  margin-top: 56px;
  padding: 65px;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  background-color: rgb(156, 38, 38);
  color: white;
  align-items: center;
  font-size: 18px;
  line-height: 22px;
  
}

.encadrementFooter {
  justify-content: space-between;
  width: 50%;
  display: flex;
margin-bottom: 85px;  
}

.encadrementFooter .coordonnees {
  justify-content: center;

}

.encadrementFooter nav ul {
  display: flex;
  flex-direction: column;
}

.encadrementFooter nav ul li {
  line-height: 22px;
}

.footer h2 {
 margin: 15px;
}

.styleDeMonLien {
  color: rgb(105, 105, 223);
  font-size: 20px;
}

/*/////////////////voici le temps des média queries /////////////////*/

@media screen and (max-width: 1210px) {
  .banner {
    padding-inline:50px; 
  }
  
  .description p {
  font-size: 18px;
}

.footer {
  margin-top: 46px;
  padding: 45px;
}

.encadrementFooter {
  justify-content: space-around;
  width: 80%;
  display: flex;
margin-bottom: 55px;  
}

}

@media screen and (max-width: 900px) {
  .portrait {display: none;
  }

  .banner h1{
    font-size: 26px;
    padding-top: 25px;
  }

.image_deco {
display:none;
}

.corps {
  width: 95%;
}

.footer {
  margin-top: 46px;
  padding: 45px;
}

.encadrementFooter {
  justify-content: space-around;
  width: 80%;
  display: flex;
  flex-direction: column;
margin-bottom: 55px;  
}

.encadrementFooter nav ul {
  margin-top: 25px;
}



}

@media screen and (max-width: 630px) {
  .navbar__link {
    display: flex;
    flex-wrap: wrap;
    padding-top : 25px;
    width:100%;
    justify-content: space-between;
  }

  a {
    margin : 10px;
  }

.image {
display: none
}

.presentation {
  width: 100%;
}

}